---
import Projects from "./Projects.astro";
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import SideMenu from "./SideMenu.astro";
---

<section class="flex flex-col min-h-[100dvh] max-w-4xl justify-center p-5">
  <div class="w-full flex items-center justify-between">
    <h1 class="font-tile font-bold text-2xl text-light-highlight">
      sicoradev.com
    </h1>
    <div class="flex items-center justify-center gap-2">
      <a class="rounded-md hover:bg-light-text/10 hover:dark:bg-dark-text/10 px-2 py-1 w-[36px] h-[36px] flex items-center" href="https://github.com/sicora-dev" target="_blank">
        <img class="dark:hidden w-5" src="/Github_light.svg" />
        <img class="hidden dark:block w-5" src="/Github_dark.svg" />
      </a>
      <button
        id="darkModeSwitch"
        class="rounded-md hover:bg-light-text/10 hover:dark:bg-dark-text/10 px-2 py-1 w-[36px] h-[36px] flex items-center"
      >
        <svg
          class="hidden dark:inline rotate-12 hover:rotate-0 transition-all ease-in-out duration-300 hover:scale-105"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <svg
          class="dark:hidden inline rotate-12 hover:rotate-0 transition-all ease-in-out duration-300 hover:scale-105"
          width="23"
          height="23"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
    
  </div>

  <h2 class="text-xl">
    Bienvenidos a mi lobby, donde encontraréis todos mis proyectos detallados
    uno a uno.
  </h2>
  <SideMenu />
  <Projects />
</section>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
</style>

